.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.features__list {
  display: flex;
  /* justify-content: space-between; */
}
.features__icon {
  display: flex;
  background-color: $thirdBackgroundColor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
}
.features__item {
  width: calc((100% - 3 * var(--main-margin)) / 4);
}
.features__item:not(:last-child) {
  margin-right: var(--main-margin);
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $mainTextColor;
  margin-bottom: 10px;
}
.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: $secondaryTextColor;
}
