$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --address-phone-mail-color: #ffffff99;
  --social-link-color: #afb1b8;
  --body-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --modal-btn-hover-focus-background-color: #188ce8;
  --accent-color: #2196f3;
  --border-color: #ececec;
  --main-margin: 30px;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
